:root {
  --text-color: #ddd;
  --title-size: 20px;
  --text-size: 18px;
}


/* 메인레이아웃 */
.wrap{width: 100%; overflow: hidden;}
body{background: #141414; color: #fff;}

/* 헤더영역 */
#headerArea{width: 90%; z-index: 100;
  border-bottom: 1px solid #353535; padding: 0 5%;}
#headerArea .header_inner{margin: 0 auto; display: flex; align-items: center;
  justify-content: space-between;}
#headerArea .logo a{font-family: 'Saira Stencil One', sans-serif;
  overflow: hidden; margin-right: 50px; color: #818181; transition: all .3s;}
#headerArea .logo .logo_big{font-size: 3rem;}
#headerArea .logo .logo_color{color: #28EAFF;}
#headerArea .logo:hover a{color: #28EAFF;}
#headerArea li a{color: var(--text-color); transition: all .3s;}
#headerArea li a:hover{color: #fff;}

#headerArea #gnb{width: 70%;}
#headerArea #gnb ul{display: flex; width: 50%;}
#headerArea #gnb ul li{width: 20%; text-align: center;}
#headerArea #gnb a{padding: 30px 0;}
#headerArea .top_menu{display: flex; margin-left: auto; align-items: center; gap: 10px;}
#headerArea .top_menu li{text-align: center;}

.top_menu .login_btn{background: #ffffff1a; padding: 15px 20px; border-radius: 30px;}
.top_menu .dl_mode a{border-radius: 50%; background: #ffffff1a;
  width: 48px; height: 48px;}
.top_menu .dl_mode i{font-size: 2rem; margin-top: 8px; transition: all .3s;}
.top_menu .dl_mode a:hover i{transform: scale(.9);}

/* main */
.swiper{
  width: 70%; 
  margin: 50px auto;
  overflow: hidden;
  position: relative;
}
.swiper-wrapper{
  width: 100%;
}
.swiper-slide{
  width: 100% !important;
}

.main_box{
  display: flex; 
  justify-content: center; 
  gap: 15px; 
  width: 100%;
  margin: 0 auto;
}
.main_right{margin-top: 80px; position: relative;}
.main_right img{border-radius: 15px; width: 100%;}
.main_img img{border-radius: 15px; 
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;}

.main_box dl{text-align: center; margin-top: 20px;}
.main_box dl dt{font-size: 1.6rem; color: #FFE54F;}
.main_box dl dd{font-size: 1.2rem;}

.main_right .swiper-button-next,
.main_right .swiper-button-prev {
  position: absolute;
  top: -50px;
  transform: translateY(0);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .1);
  color: rgba(255, 255, 255, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border: 1px solid rgba(255, 255, 255, .2);
  transition: all .3s;
}

.main_right .swiper-button-next {
  right: 0;
}

.main_right .swiper-button-prev {
  left: 72%;
}

.main_right .swiper-button-next:after {
  content: '→';
  font-size: 24px; font-weight: 300;
}

.main_right .swiper-button-prev:after {
  content: '←';
  font-size: 24px; font-weight: 300;
}

.swiper-button-next:hover, 
.swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, .2);
}


.main_img:hover img{transform: scale(1.05);}
.main_img img{transition: all .3s;}
.main_img{position: relative; overflow: hidden; border-radius: 15px;}
.main_btn{width: 100%; position: absolute; bottom: 0;
  background: linear-gradient(to top, rgba(0,0,0,.8), transparent);
  padding: 50px 0 30px 0; border-radius: 0 0 15px 15px; font-size: 1.1rem; text-align: right;}
.main_btn a{padding-right: 30px; color: var(--text-color);}

/* main_small */

.main_small{display: flex; justify-content: center; gap: 15px; width: 70%; margin: 0 auto;}
.main_small img{border-radius: 10px;}
.small_con{position: relative;}
.small_btn{width: 100%; position: absolute; bottom: 0;
  background: linear-gradient(to top, rgba(0,0,0,.8), transparent);
  padding: 15px 10px; border-radius: 0 0 15px 15px; font-size: 1.1rem; text-align: left;}
.small_btn a{padding-right: 30px; color: var(--text-color);}



/* 반응형 수정중 */
@media screen and (max-width: 768px) {
    #headerArea #gnb ul{
    width: 100%;
  }
  
  #headerArea .header_inner{
    flex-direction: column;
  }
  .main_box{
    flex-direction: column;
    width: 90%;
  }
  .main_right{
    margin-top: 20px;
  }
}